button {
  color: #f4c0d7;
}

button.copy {
  display: none;
}
button.copy.active {
  display: block !important;
  width: 100%;
}

button.copy.active:focus {
  outline: none;
  background-color: rgba(255,255,255,.1);
}

@media screen and (max-width:480px) {
  button.copy.active {
    display: none !important;
  }
}
