@import url('reset.css');

@font-face {
  font-family: 'Steelfish';
  src: url("../fonts/steelfish-regular.ttf");
}
@font-face {
  font-family: 'Steelfish Italic';
  src: url("../fonts/steelfish-regular-italic.ttf");
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
}
body {
  padding-top:10%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: black;
  height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  padding-top: 10%;
}

h1 {
  font-size: 100px;
  font-family: 'Steelfish', sans-serif;
  color: #f4c0d7;
  text-transform: uppercase; 
}
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 20px;
  padding-left: 10px;
  color: white;
  font-style: italic;
}
h2.pink {
  color: #f4c0d7;
}
h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 20px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  border-top: 2px solid white;
  padding-top: 20px;
}
p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  line-height: 1.4em;
  margin-bottom: 10px;
}
i {
  font-style: italic;
}
header {
  width: 100%;
  padding-bottom: 5%;
}

section.text {
  width: 100%;
  text-align: left;
  color: white;
}

.buttons li, button {
  display: inline-block;
  font-size: 32px;
  font-family: 'Steelfish', sans-serif;
  margin-right: 3%;
  margin-bottom: 30px;
  background: black;
  color: white;
  text-transform: uppercase;
  padding: 5px;
  width: 29%;
  text-align: center;
  border: none;
}
button {
  color: #f4c0d7;
}

.buttons li:hover {
  cursor: pointer;
}

.medium-text, .long-text {
  display: none;
}

li img {
  max-width: 15%;
}

li.active {
  background-color: rgba(255,255,255,.1);
}

img.gif01 {
  display: none;
}
img.gif01.active {
  display: block !important;
  width:100%;
  text-align: center;
  margin: 0 auto 20px;
}


button.copy {
  display: none;
}
button.copy.active {
  display: block !important;
  width: 100%;
}



button.copy.active:focus {
  outline: none;
  background-color: rgba(255,255,255,.1);
}


@media screen and (max-width:610px) {
  h2 {
    padding-left: 0px;
  }
  .buttons li {
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
    padding: 5px;
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width:480px) {
  button.copy.active {
    display: none !important;
  }
  section.text {
    margin-bottom: 40px;
  }
}