<!DOCTYPE html>
<html>

  <head>

    <meta charset="utf-8">

    <title>The Queen's English | Beyoncé-inspired lorem ipsum text</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Beyoncé-inspired lorem ipsum text generator, by Bridget Reed" />

    <script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script type="text/javascript" src="js/site.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,900,900i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">

    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="apple-touch-icon" href="crown.png" />
    <meta name="apple-mobile-web-app-title" content="Yoncé Ipsum" />

  </head>

  <body>

    <div class='container'>

      <header class='header'>
        <h1 class='header__heading-lv1'>The Queen's English</h1>
        <h2 class=" header__heading-lv2">Beyoncé-inspired lorem ipsum text by <a class='header__link' href="https://github.com/BridgetCReed/yonceipsum" target="_blank">Bridget&nbsp;Reed</a></h2>

        <h3 class='header__heading-lv3'>How <i class='header__highlight'>flawless</i> are you?</h3>
        
        <ul class="crowns">
          <li class="crowns__item crowns__short">
            <img class="crowns__item__img" src="crown.png" />
          </li>
          <li class="crowns__item crowns__medium">
            <img class="crowns__item__img" src="crown.png" />
            <img class="crowns__item__img" src="crown.png" />
            <img class="crowns__item__img" src="crown.png" />
          </li>
          <li class="crowns__item crowns__long">
            <img class="crowns__item__img" src="crown.png" />
            <img class="crowns__item__img" src="crown.png" />
            <img class="crowns__item__img" src="crown.png" />
            <img class="crowns__item__img" src="crown.png" />
            <img class="crowns__item__img" src="crown.png" />
          </li>
        </ul>
      </header>

      <div class='content'>
        <img src="https://i.giphy.com/media/ImA6i1dIyeIP6/giphy.gif" class="gif01"/>
        <section class="section-text" id="lyrics"></section>
        <button onclick="copyToClipboard('#lyrics')" class="copy">Copy to Clipboard</button>
        <input style="display:none;"/>
      </div>

    </div>

    <script type="text/template" class="template">
        <% _.each(ipsum, function(paragraph) { %>
          <p class='paragraph'>
          <% _.each(paragraph, function(sentence) { %>
              <%= sentence %>
          <% }) %>
          </p>
        <% }) %>
    </script>
    
    <script>
        function copyToClipboard(element) {
          var $temp = $("<input>");
          $("body").append($temp);
          $temp.val($(element).text()).select();
          document.execCommand("copy");
          $temp.remove();
        }
    </script>

  </body>

</html>
