<!DOCTYPE html>
<html>

  <head>

    <meta charset="utf-8">

    <title>The Queen's English | Beyoncé-inspire lorem ipsum text</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Beyoncé-inspired lorem ipsum text generator, by Bridget Reed" />

    <script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script type="text/javascript" src="js/site.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,900,900i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/site.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">

  </head>

  <body>

    <header>
      <h1>The Queen's English</h1>
      <h2>Beyoncé-inspire lorem ipsum</h2>

      <ul class="buttons">
        <li class="short">short</li>
        <li class="medium">medium</li>
        <li class="long">long</li>
      </ul>
    </header>

    <section class="text"></section>

    <script type="text/template" class="template">
      <section>
        <% _.each(ipsum, function(paragraph) { %>
          <p>
          <% _.each(paragraph, function(sentence) { %>
              <%= sentence %>
          <% }) %>
          </p>
        <% }) %>
      </section>
    </script>

  </body>

</html>
